.inputContainer {
  display: flex;
  direction: column;
  width: 100%;
  margin: auto;
  max-width: 425px;
  justify-content: space-between;
  align-items: center;
}
.inputContainer > select {
  outline: none;
  padding: 0.5rem;
  margin: 0.1rem 0 0 0;
  width: 15rem;
}
.inputContainer > label {
  width: 100%;
  max-width: 5rem;
}
@media (max-width: 425px) {
  .inputContainer > select {
    outline: none;
    padding: 0.5rem;
    margin: 0.1rem 1rem 0 0;
    width: 13rem;
  }
  .inputContainer > label {
    margin-left: 1rem;
  }
}
